# Week 1: Basics of Python #

- **Modules**: things that you import using the import statment.

```
object.attribute

```

- **Objects** have 3 attributes:
    - Type: what kind of an object python is dealing with (string, number, etc)
    - Value: data value contained by object (a number)
    - Identity: identity number for the object. Each distinct object in the comptuer memory will have its own identity number.

- **Mutable Object:** Can change in its state or attribute. 
- **Immutable Object:** Cannot change in its state or attribute. Can't add/remove elements. Can't modify elements.
- **Attributes**: data or functions associated with objects. There are two types
    - data attribute: value attached to object
    - methods: function attached to object
- **Instance**: One occurance of an object.
    - For Example: two strings "Amy" and "Lucy" are two instances of the same string ojbect. Although they contain separate values: they support he same set of methods.

In [1]:
import numpy as np
y = np.array([1,5,9])

y.mean() # FUNCTIONS have parentheses

5.0

In [2]:
y.shape # DATA ATTRIBUTES don't have parentheses

(3,)

**Namespace**: Container of objects that typically go together. 
- Exists to prevent naming conflicts.

**python help method**: Tells you what a method does.

In [6]:
# Note parentheses call on method. Here we have a method with no parentheses.
# This is a requiremnet of the help function. Do not actually run the method
# when trying to get help on it.

name = "Amy"
help(name.upper)

Help on built-in function upper:

upper() method of builtins.str instance
    Return a copy of the string converted to uppercase.

In [5]:
dir(name) # Methods Available to String OJbects

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

## Numbers and Basic Claculations ##

In [1]:
15 // 7 # FLOOR DIVISION - integer division

2

In [7]:
15 / 7

2.142857142857143

In [8]:
_ # UNDERSCORE - the last number of the output.

2.142857142857143

In [10]:
import math
math.factorial(4)

24

## Expressions and Boolean ##

Expresion: a combination of objects and opeartors that compute a value.

In [11]:
[2,3] == [2,3]# VALUE CHECK - Compares if the two lists are identical

True

In [15]:
[2,3] is [2,3] # IDENTITY CHECK - Compares if the two objects are the same object

False

In [13]:
2.0 == 2 #Python implicitly convers integer (2) to floating point number (2.0) and then compares.

True

In [14]:
 True and not False is True

True

## Sequences ##

Sequences: objects they contain form a sequence. 
Any sequence dta type iwll support the common sequence operations.

Sequence Starts at Zero. Read left to right.

Negative index will count positions from right to left. [-1] is the very last object.
    An index of -0 just means that we move back 0 spaces. 

**Slice:** S[0:2] ends at the object before the last element of the array.
    - Returns objects indexed at 0 and 1, but not index 2
    - Python includes all values from the beginning of the first index in the slice up to and not including the second value in the slice.

- lists 
- tuples
- range objects

In [16]:
(1,2,3)[-0] # Tuple and an index calling that tuple.

1

In [19]:
(1,2,3)[-0:0] # If you start and stop at the same spot: you get an empty tuple

()

## Lists ##
Lists are mutable (changable) sequences of any type of objects.They're typically used to store homogeneous items.

**Lists vs Strings:**

- Strings are sequences of individual characters. (Immutable)
- Lists sequences of any type of pthon objects. (Mutable)

**List methods are In Place Methods:**

- Methods that modify the original lists but do not return anything.

**Sort vs. Sorted:**

- sort re-arranges the list of names
- sorted makes a whole new list using the old lists objects

In [20]:
numbers = [2,4,6,8]

numbers[0]

2

In [21]:
#Concatenate (combine) lists together
x = [12, 14, 15]

numbers + x

[2, 4, 6, 8, 12, 14, 15]

In [22]:
type(_)

list

In [23]:
numbers.reverse()

In [24]:
numbers #The "in place" method made everything go backwards.

[8, 6, 4, 2]

names = ["Zofia", "Alex", "Morgan", "Anthony"]
names.sort() #Alphabetical rearrangemnet of original list

In [26]:
names

['Alex', 'Anthony', 'Morgan', 'Zofia']

In [31]:
names.reverse()
names

['Zofia', 'Morgan', 'Anthony', 'Alex']

In [33]:
sorted_names = sorted(names)
sorted_names

['Alex', 'Anthony', 'Morgan', 'Zofia']

In [35]:
len(sorted_names) # How many objects a list contains.

4

## Tuples ##
- Tuples: immutable sequences typically used to store heterogeneous data.
- Best way to view them: sungle objects that consist of several different parts.
- Used to store heterogeneous data.

Tuples are most often used in cases when you wnat to return more than one object form your python function.
- You would wrap those objects within a single Touple object and return that object.

In [37]:
T = (1,3,5,7)
len(T)

4

In [39]:
T + (9,11)

(1, 3, 5, 7, 9, 11)

In [40]:
T[1] # Same indexing rules

3

**Touple Packing** - Storing separate values into a single touple.

In [42]:
x = 12.23
y = 23.34

coordinate = (x, y)
type(coordinate)

tuple

**Touple Unpacking**

In [46]:
(c1, c2) = coordinate
c1

12.23

In [47]:
c2

23.34

Looping Over Objects

In [52]:
# List of touples
coordinates = [(0,0), (1,1), (2,4), (3,9), (4,16), (5,25)]

In [50]:
for (x,y) in coordinates:
    print(x,y)

0 0
1 1
2 4
3 9
4 16
5 25

In [53]:
for x,y in coordinates:
    print(x,y)

0 0
1 1
2 4
3 9
4 16
5 25

Touple with one Object

In [55]:
c=(2,)
type(c)

tuple

In [57]:
c = 2,
type(c)

tuple

In [59]:
c = (2) # NOT THE RIGHT WAY TO DEFINE A SINGLE OBJECT TOUPLE
type(c)

int

In [62]:
## EXERCISE ##

x = (1,2,3)
x.count(3)

1

## Ranges ##
- Ranges are immutable sequnces of integers.
    - Most commonly used in for loops
    
- **Input Argument to range function:** its stopping point. 

- Ranges take up less space than lists. Although you can create a list to loop thorugh you are saving that list and wasting space. The range has 3 numbers: start, stop, delta.

In [63]:
range(0,5)

range(0, 5)

In [65]:
list((range(5)))

[0, 1, 2, 3, 4]

In [66]:
list((range(1,12, 2))) # start, stop, delta

[1, 3, 5, 7, 9, 11]

# Strings #

Strings are immutable sequences of characters.
- Can be enclosed in ' ', " ", '" "'

In [68]:
S = "Python"
S[0]

'P'

In [69]:
S[1] #Character via its index.

'y'

In [70]:
S[0:3] #Slice

'Pyt'

In [71]:
S[-3:] # Last three characters of the string

'hon'

In [73]:
"y" in S

True

**Polymorphism** - what an opeartor does depends on the type of objects it is being applied to. 

In order for polymorphism to work: all object have to be the same type. (i.e. a number and a number, or a string and a string).

In [74]:
12 + 12 #addition

24

In [76]:
"hello" + "hello" #concatenation

'hellohello'

**Multiplication of Strings in Python**

3 * 5 = 5 + 5 + 5 -> addition

3* S = S + S + S -> concatenation

In [77]:
3 * S

'PythonPythonPython'

In [78]:
dir(str) #Get the str function attributes

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [79]:
str.replace? #Getthe string.replace method descirpiton.

Signature: str.replace(self, old, new, count=-1, /)
Docstring:
Return a copy with all occurrences of substring old replaced by new.

  count
    Maximum number of occurrences to replace.
    -1 (the default value) means replace all occurrences.

If the optional argument count is given, only the first count occurrences are
replaced.
Type:      method_descriptor

**Strings are Immutable Objects**

Since strings are immmutable objects, the cannot be modified. So the functions and methods that are associated with strings usually return new types of strings. Thus the original string is never altered. See below for an example.

In [80]:
name = "Tina Fey"
name.replace("T", "t")

'tina Fey'

In [81]:
new_name = name.replace("T", "t")

In [82]:
name

'Tina Fey'

In [83]:
new_name

'tina Fey'

In [85]:
names = name.split(" ")
type(names)

list

In [86]:
len(names)

2

In [87]:
names[0]

'Tina'

In [88]:
type(names[0]) # Find out what type of object it is

str

In [89]:
names[0].upper()

'TINA'

In [90]:
names[0]# Original still unmodified.

'Tina'

In [91]:
"".join(str(i) for i in range(10))

'0123456789'

In [94]:
names = str(range(10))

In [95]:
names

'range(0, 10)'

In [96]:
## EXERCISE IN FINDING MODULES ASSOCIATED WITH STRING FUNCTION ##

dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [103]:
str.isdigit?

Signature: str.isdigit(self, /)
Docstring:
Return True if the string is a digit string, False otherwise.

A string is a digit string if all characters in the string are digits and there
is at least one character in the string.
Type:      method_descriptor

In [105]:
str.isdigit(names)

False

In [100]:
x = "125,000"

In [106]:
str.isdigit(x)

False

## Sets ##

**Sets** are unordered collections of distinct hashable objects. What is hashable -> not for us to discuss this time.
- Think of it as an unordered collection of objects.
- Sets **cannot be indexed** - objects inside sets don't have locations. 
- All objects insde sets are unique and distinct.
- You can use sets for immutable objects (numbers, strings) but not for mutable onbects (lists, dict). 
- **Uses:** - math operations like unions intersections and set differences.

Two types of sets:

- Type 1 simply called "a set" ( mutable)
- Type 2 is a "frozen set" - not mutable once it has been created. (i.e. immutable)

In [2]:
# set of Identification
ids = set() #Empty set
ids = set([1,2,4,6,7,8,9]) # A list inside
len(ids)

7

In [3]:
ids.add(10)

In [4]:
ids

{1, 2, 4, 6, 7, 8, 9, 10}

In [5]:
ids.add(2) # adding a repeat number 2 into set

In [6]:
ids

{1, 2, 4, 6, 7, 8, 9, 10}

In [7]:
# It doesn't work

In [8]:
# Remove members or objects from sets using the pop function
ids.pop()

1

In [9]:
ids.pop()

2

In [10]:
ids.pop()

4

In [11]:
ids

{6, 7, 8, 9, 10}

In [12]:
ids = set(range(10))

In [13]:
ids

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [14]:
#lets say above set is made up of males and females
males = set([1,3,5,6,7])
females = ids - males
females

{0, 2, 4, 8, 9}

In [15]:
# set Union Operations
everyone = males | females
everyone

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [18]:
# Ampersand Operation - Intersection of Two Sets
# The following is an intersction between everyone and ids 1,2,3
everyone & set([1,2,3])

{1, 2, 3}

In [19]:
# Count the number of unique letters in a word:

word = "antidisestablishmentarianism"

letters = set(word) # construct set out of string
len(letters)

12

In [20]:
x={1,2,3}
y={2,3,4}
z = y - x
z

{4}

In [21]:
x & y

{2, 3}

In [39]:
x={1,2,3}
y={2,3,4}
(x | y) - (x & y)

{1, 4}

In [38]:
x & y

{2, 3}

In [33]:
x in y
x.issubset(y)

True

In [34]:
x.issubset?

Docstring: Report whether another set contains this set.
Type:      builtin_function_or_method

## Dictionaries ##
- Mappings from key objects to value objects.
- Key:Vaule pairs, where key must be immutable and values can be **anything**
- DIcitonaries are mutable -> can modify its content on the fly. 
- **used to perform very fast look-ups on unordered data.**
- are NOT sequences - no left/right order. 
- **Views Objects**: content is dynamically updated as you modify your dictionary.

In [40]:
age = {} #Defines a dictionary

In [41]:
age = dict() # Defines a dictionary as well

In [28]:
age = {"Tim":29, "Jim":31, "Pam":27, "Sam":35}

In [29]:
age["Pam"]

27

In [30]:
age["Tim"] = age["Tim"] + 1
age["Tim"]

30

In [31]:
age["Tim"] += 1
age["Tim"]

31

In [32]:
names = age.keys() # Extract all keys out of dict

In [33]:
type(names)

dict_keys

In [34]:
age["Tom"] = 50 # THIS IS HOW YOU ADD A NEW VALUE TO THE DICTIONARY

In [35]:
names

dict_keys(['Tim', 'Jim', 'Pam', 'Sam', 'Tom'])

In [36]:
ages =  age.values()

In [37]:
ages

dict_values([31, 31, 27, 35, 50])

In [38]:
age["Nik"] = 31
names # note how this is an example of a view object who's content is dynamically updated. YOU DIDN'T Have to
# re-define names to have "Nik" be automatically added

dict_keys(['Tim', 'Jim', 'Pam', 'Sam', 'Tom', 'Nik'])

In [25]:
# Object membership in dictionary
"Tom" in age

True

In [26]:
"Zofia" in age

False

## Dynamic Typing ##
What type does (i.e. the type of object):
- Tells computer how to read sequence of 1s and 0s in how many chunks like: 32 bits (32 1s and 0s).
- What does this sequence of bits represent?

**Important Note on Inputs:** If porgram expects a floating point number, and you provid ean integer: No Big Deal! Integers are subsets of floating point numbers, but if it expects an integer and you provide a float: some info is lost.

**Typing:** - aassigning data types refers ot the set of rules that hte langauge uses to ensure that the part of the program receiving teh data knows how to correctly interprest the data. 

**Statically Typed:** - C or C++ - type checking is performed at compile time

**Dynamic Typing:** - Python - type checking is performed at run time

EXAMPLE: If we tell Python "x = 3" what actually happens?
- Concepts: variable, object, and reference. 
- Step 1: Python creates an object (the number 3)
- Step 2: Python creates a variable named "x". Variable reference to a single objects. Other names may be attached.
- Step 3: Python inserts a reference from the name of the varibale to the actual object.
- **NOTE**: Variable cannot reference another variable -> a variable can only reference an object.

In [27]:
## DINAYMIC TYPING FOR IMMUTABLE OBJECTS ##

x = 3 # Steps 1 -> 3 above (x-> 3)
y = x # New variable name "y" and inserts a reference to the object 3 (NOT THE VARIABLE X) (y -> 3)
y = y - 1 # Python first looks at the number 3, but numbers are immutable so a new object gets created:
          # the number 2. Y reference to 3 is remved. Then y is referenced to a new object (the number 2). (y-> 2)

In [28]:
## DYNAMIC TYPING FOR MUTABE OJBECTS ##

L1 = [2,3,4] # 1. Create object [2,3,4], 2. create variable "L1", 3. L1 is referenceed to the list.
L2 = L1 # Object "L1" exists. 1. Create var name "L2". 2. L2 Referenced to list object.
L1[0] = 24 # Using L1 varibale to 0th index and modify it. 
L2

[24, 3, 4]

In [29]:
# Since L2 references the same thing as L1, the output of the variable L2 also changes.

**Mutable Objects in Python can be identical in content and yet be actually differnet objects**

In [2]:
L = [1,2,3]
M = [1,2,3]
L == M # Asks if all the elements are the same.

True

When comparing elements, the comparisons are done elemnet by element.

In [3]:
L is M # Asks if both are same object.

False

In [4]:
id(L) #Finds its identifier

4510100032

In [5]:
id(M) # Finds its identifier.

4511018176

In [6]:
M = L # M is another name for the same object as represented by L

In [8]:
M = list(L) # Python creates completely new object because you typed list()

In [9]:
M is L

False

In [10]:
M == L

True

In [11]:
M = L[:] #This slices all elements of list L and puts into M. In this case M is a different object from L as well.

In [12]:
## EXERCISES
x = 3

In [13]:
y = x

In [14]:
y = y - 1

In [15]:
x

3

In [16]:
y

2

In [17]:
L1 = [2,3,4]
L2 = L1
L2[0] = 24

In [18]:
L1

[24, 3, 4]

In [19]:
L = [2,3,4]
M1 = L
M2 = L[:]
M1 is M2

False

## Copies ##

Two types of copies - methods of creating identical copies of objects.

- Shallow Copy: constructs a new compound object an dthen inserts referneces into it (references to the original object).
- Deep Copy: constructs a new compund object and then recursively inserts copes into it (of the original object).

In [20]:
## Exercises ##
import copy
x = [1,[2]]
y = copy.copy(x)
z = copy.deepcopy(x)
y is z

False

## Statements ##
Statements used to compute, assing, and modify attributes of valuves. 

Statements:
- Return: used to return values from a function.
- Import: used to import modules.
- Pass: used to do nothing in situations where we need a placeholder for syntactical reasons. 


**In Python Indentation is not just cosmetic - indentation determines the logical structure of your program**

In [22]:
## Exercises ##

if False:
    print("False!")
elif True:
    print("Now True!")
else:
    print("Finally True!")

Now True!

In [23]:
if False:
    print("False")

In [25]:
if True:
    print("True")

True

In [26]:
True

True

In [27]:
False

False

## For and While Loop ##

For Loop: in the beginning of the loop you know exaclty how many times you would like to run thorugh the block of code. 

for (target) in (sequence):

While Loops: you are testing some condition some number of times. You don't know how many times exactly youll be runnign thorugh that loop.

In [41]:
for name in age.keys():
    print(name, age[name])

Tim 31
Jim 31
Pam 27
Sam 35
Tom 50
Nik 31

In [42]:
#Can shorten above statement to this:
for name in age:
    print(name, age[name])

Tim 31
Jim 31
Pam 27
Sam 35
Tom 50
Nik 31

In [44]:
# Aphabetical order looping:

for name in sorted(age.keys()):
    print(name, age[name])

Jim 31
Nik 31
Pam 27
Sam 35
Tim 31
Tom 50

In [45]:
# looping in reverse order. Just enable reverse to be true

for name in sorted(age.keys(), reverse=True):
    print(name, age[name])

Tom 50
Tim 31
Sam 35
Pam 27
Nik 31
Jim 31

In [53]:
## Exercises ##

bears = {"Grizzly":"angry", "Brown":"friendly", "Polar":"friendly"}

for bear in bears:
    if bears[bear] == "friendly":
        print("Hello, "+bear+" bear!")
    else:
        print("odd")

odd
Hello, Brown bear!
Hello, Polar bear!

In [55]:
is_prime = True
n = 3
for i in range(2,n):
    if n%i == 0:
        is_prime = False
print(is_prime)

True

In [56]:
n=100
number_of_times = 0
while n >= 1:
    n //= 2
    number_of_times += 1
print(number_of_times)

7

In [57]:
12 //= 2

SyntaxError: cannot assign to literal (<ipython-input-57-d857f700c80c>, line 1)

In [63]:
n = 100
n //= 2
n

50

## List Comprehension ##

In [64]:
numbers = range(10)
squares = [] # Empty list

In [75]:
for number in numbers:
    square = number**2 # i.e. number^2
    squares.append(square)

## Same as ##

squares2 = [number**2 for number in numbers] # Preferred elegant method # ALSO FASTER

In [74]:
squares2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [76]:
sum([i**2 for i in range(3)])

5

In [86]:
for item in range (10):
    print(item)

0
1
2
3
4
5
6
7
8
9

In [84]:
sum ([item for item in range(10) if item % 2 != 0])

25

## Reading and Writing Files ##

**Read** 

open(filename) generates a file object and you can loop over these objects. 

**Write**

When writing a file, we need a second argument in open() which tells Python taht we would like to create a file object for writing, not for reading. We indicate this with a "w".
- This creates a file object for writing to a file named "output.txt".
- Next step is to caputre the file object in some varibale. Typically its F.
- Once we are done with writing we have to close the file object.

In [90]:
filename = "input.txt"

for line in open(filename):
    print(line)

first line

second line

third lines

In [91]:
line = "first\n" #You have this \n linebreak that causes a new line to form a linebreak. YOU DON'T SEE IT BUT ITS THERE

In [92]:
## ENTER the line.rstrip() command. Which returns a string
## split() method returns a list

for line in open(filename):
    line = line.rstrip().split(" ") # returns a list plit by the space delimiter
    print(line)

['first', 'line']
['second', 'line']
['third', 'lines']

In [93]:
F = open("output.txt", "w")

F.write("Python\n") # Don't forget this line break

F.close()

In [94]:
## Exercises ##

In [95]:
F = open("input.txt", "w")
F.write("Hello\nWorld")
F.close()
lines = []
for line in open("input.txt"):
    lines.append(line.strip())
print(lines)

['Hello', 'World']

In [102]:
F = open("input.txt", "w")
F.write("Hello\nWorld")
F.close()


line.rstrip?

Signature: line.rstrip(chars=None, /)
Docstring:
Return a copy of the string with trailing whitespace removed.

If chars is given and not None, remove characters in chars instead.
Type:      builtin_function_or_method

In [103]:
lines = []
for line in open("input.txt"):
    lines.append(line.strip()) # so what happens here is that we have a list that has objects appended to it.
                               # So output will be list
    
print(lines)

['Hello', 'World']

## Introductiont to Functions ##

**Functions** - are devices for grouping statements so that they can easily be run more than once in a program.

In [104]:
## Syntax ##

def add(a,b):
    mysum = a + b
    return mysum

add(12,15)

27

- All Names created or assigned in a function are local of that function and they exist only when that function runs. 
- **Global Statement** - used ot modify the value of a global variable from inside a function.
- **Touples** used to return multiple values forma. function.
- Functions do not get executed until you call upon that function with the parentheses at the end.
- **def statement** - creates a function and assigns it to a name.
    - this means that we can reassing the funciton object to antoher name.

In [107]:
def add_and_sub(a,b):
    mysum = a + b
    mydiff = a - b
    return (mysum, mydiff) # Touple here defined by parentheses

In [108]:
add_and_sub(20, 15)

(35, 5)

In [110]:
newadd = add
newadd(2,3) # Different names for the same function.

5

Arguments are passed by assigning objects to local names. <- Basically this is just an example of how you parse arguemnts into a function. **MOST IMPORTANTLY: when you have a function modify a mutable object, it will do it directly. No new objects are created. See exercise for a good example of this.**

In [113]:
def modify(mylist):
    mylist[0] *= 10
    
L = [1,3,5,7,9]

modify(L)

L

[10, 3, 5, 7, 9]

In [114]:
## Exercises ##

def modify(mylist):
    mylist[0] *= 10
    return(mylist)
L = [1, 3, 5, 7, 9]
M = modify(L)
M is L

True

## Writing Simple Function ##

In [115]:
# In each object in sequence 1 is it the same as sequence 2, then store that object.
def intersect(s1, s2): # sequences as input
    res = [] # keeping track of results
    for x in s1:
        if x in s2:
            res.append(x)
    return res

In [117]:
intersect([1,2,3,4,5], [3,4,5,6,7])

[3, 4, 5]

In [122]:
## PROGRAM THAT GENERATES PASSWORDS ##
# We will be able to specify the character set and length of password.

import random
def password(length):
    pw = str() #Empty String
    characters = "abcdefghijklmnopqrstuvwxyz" + "0123456789" #Characters used as basis for password
    random.choice(characters) # Returns a character at random out of that string.
    for i in range(length): # We know we will be looping over process a percise length of times. So for 
                            # instead of while loop
        pw = pw + random.choice(characters) # Not using append b/c its str
        
    return pw

In [127]:
password(50)

'0q0n8g0o2hyubdcy1yqqbqt5o5lh4ysgjmi6li4liu47u2q2tb'

In [128]:
## Exercises ##

def intersect(s1, s2): # sequences as input
    res = [] # keeping track of results
    for x in s1:
        if x in s2:
            res.append(x)
    return res

intersect([1,2,3], [3,4,5,6,7])

[3]

In [142]:
## Exercises ##

def is_vowel(letter):
    if type(letter) == int:
        letter = str(letter)
    if letter in "aeiouy":
        return(True)
    else:
        return(False)
    
is_vowel(4)

False

In [150]:
def factorial(n):
    if n == 0:
        return 1
    else:
        N = 1
        for i in range(1, n+1):
            N *= i
    return(N)

In [152]:
factorial(4)

24

## Common Mistakes and Errors ##

In [1]:
## Mistake 1: Forgetting that dictionaries have no left-right ordering. 
# In dictionaries a key object is coupled to its value object.
# Key values themselves appear in any order inside the dictionary.

Mistake 2: Attempting to perform an operation not supported by the object. Attribute error. 

Mistake 3: Trying to acess an object in a wrong way. Ex. calling a dictionary key by a number when the keys are strings.**When Acessing Dictionaries -> make sure you know the type of your key objects.**

Mistake 4: attemtping to modify an immutable ojbect.

In [2]:
"Python"[0] = "p" #Strings are immutable objects you can't change the initial charcter.

TypeError: 'str' object does not support item assignment

Mistake 5: Trying to perate on objects that are of differnet type. Concatnation of string with number without str(number).

Mistake 6: **Return Statement stops your function from executing. Is this right?**